@charset "ISO-8859-1";


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=submit],select,textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=submit],select,textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button,input[type=submit] {
  background-color: #66fcf1;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 25px;
}



input[type=file] {
  background-color:  #bec4bb ;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.7;
}

button:hover {
  opacity:1;
  background-color:#2fb6b9;
  box-shadow:3px 3px 7px #00ffff;
}
input[type=submit]:hover{
  opacity:1;
  background-color:#2fb6b9;
  box-shadow:3px 3px 7px #00ffff;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .ok {
  float: left;
  width: 50%;
}

.cancelbtn:hover {
	backgroung-color:red;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;

}

h2{
	color:white;
}

/* Modal Content/Box */
.modal-content {
  box-shadow:0px 0px 60px grey;
  background-color: #000000;
  opacity:0.7;
  margin: 5% auto 8% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid black;
  width: 35%; /* Could be more or less, depending on screen size */
  border-radius: 25px;
  
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
